.c{
    border-radius: 50%;
    background: conic-gradient(black 20deg,red 340deg);
    
}
.ht{
    border-radius: 50%;
    background: conic-gradient(black 0deg,red 360deg);
    
}
.react{
    border-radius: 50%;
    background: conic-gradient(black 60deg,red 300deg);
    
}
.js{
    border-radius: 50%;
    background: conic-gradient(black 40deg,red 320deg);
    
}
.node{
    border-radius: 50%;
    background: conic-gradient(black 40deg,red 320deg);
    
}
.css{
    border-radius: 50%;
    background: conic-gradient(black 20deg,red 340deg);
}
.cover{
    border-radius: 50%;
}
#edu{
    box-shadow: 1px 0.5px 10px 2px red inset;
    padding: 10px;
}